<aside class="site-sidebar drawer drawer-visible drawer-fixed bg-white raised-4dp">
    <div class="sidebar-brand drawer-brand bg-white">
        <img src="/assets/images/MSIconNewColorV2.svg" alt="Logo" style="width:40px; height:40px;">
        <span class="text-blue-800 ml-1">Material Style</span>
        <i class="drawer-close-btn material-icons">&#xE5CD;</i>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item list-heading"><b>Getting Started</b></li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'installation' %} active {% endif %}"
               data-link="colors" href="/docs/2.0/getting-started/installation">Installation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'layout' %} active {% endif %}"
               data-link="colors" href="/docs/2.0/getting-started/layout">Layout</a>
        </li>

        <div class="dropdown-divider"></div>

        <li class="nav-item list-heading"><b>Utilities</b></li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'color' %} active {% endif %}"
               data-link="colors" href="/docs/2.0/utilities/color">Color</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'elevation' %} active {% endif %}"
               data-link="elevation" href="/docs/2.0/utilities/elevation">Elevation</a>
        </li>

        <div class="dropdown-divider"></div>

        <li class="nav-item list-heading"><b>Components</b></li>

        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'alert' %} active {% endif %}"
               data-link="alerts" href="/docs/2.0/components/alert">Alert</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'button' %} active {% endif %}"
               data-link="buttons" href="/docs/2.0/components/button">Button</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'card' %} active {% endif %}"
               data-link="cards" href="/docs/2.0/components/card">Card</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'checkbox-and-radio' %} active {% endif %}"
               data-link="checkbox-and-radio" href="/docs/2.0/components/checkbox-and-radio">Checkbox and
                Radio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'floating-action-button' %} active {% endif %}"
               data-link="buttons" href="/docs/2.0/components/floating-action-button">Floating Action Button</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'image-list' %} active {% endif %}"
               data-link="image-list" href="/docs/2.0/components/image-list">Image List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'list' %} active {% endif %}"
               data-link="lists" href="/docs/2.0/components/list">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'menu-and-dropdown' %} active {% endif %}"
               data-link="menus-and-dropdowns" href="/docs/2.0/components/menu-and-dropdown">Menu and
                Dropdown</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'modal' %} active {% endif %}"
               data-link="modal" href="/docs/2.0/components/modal">Modal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'navbar-and-drawer' %} active {% endif %}"
               data-link="navigation-and-layout" href="/docs/2.0/components/navbar-and-drawer">Navbar and Drawer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'popover' %} active {% endif %}"
               data-link="popover" href="/docs/2.0/components/popover">Popover</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'progress-bar' %} active {% endif %}"
               data-link="progress-bars" href="/docs/2.0/components/progress-bar">Progress Bar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'shape' %} active {% endif %}"
               data-link="shapes" href="/docs/2.0/components/shape">Shape</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'snackbar' %} active {% endif %}"
               data-link="snackbar" href="/docs/2.0/components/snackbar">Snackbar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'tab' %} active {% endif %}"
               data-link="tabs" href="/docs/2.0/components/tab">Tab</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'text-field' %} active {% endif %}"
               data-link="text-fields" href="/docs/2.0/components/text-field">Text Field</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark single-page-link {% if page.page == 'switch' %} active {% endif %}"
               data-link="toggle-switch" href="/docs/2.0/components/toggle-switch">Toggle Switch</a>
        </li>
    </ul>
</aside>
