---
---
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

:root {
  --m-grape-2: #eebefa;
}

:root, [data-bs-theme="light"] {
  --bs-primary: #5f3dc4;
  --bs-primary-hover: #5134a7;
  --bs-primary-active: #4c319d;
  --bs-primary-subtle: #dfd8f3;
  --bs-primary-subtle-hover: #c7bbea;
  --bs-primary-subtle-active: #bfb1e7;
  --bs-primary-emphasis: #392576;
  --bs-primary-emphasis-hover: #2b1b58;
  --bs-primary-border-subtle: #bfb1e7;
  --bs-primary-rgb: 95, 61, 196;
  --bs-text-on-primary: #fff;

  #github-image {
    display: inline-block;
  }

  #github-image-dark {
    display: none;
  }
}

[data-bs-theme="dark"] {
  --bs-primary: #9781d9;
  --bs-primary-hover: #ac9ae1;
  --bs-primary-active: #b6a7e4;
  --bs-primary-subtle: #26184e;
  --bs-primary-subtle-hover: #2b1b58;
  --bs-primary-subtle-active: #392576;
  --bs-primary-emphasis: #b7a8e4;
  --bs-primary-emphasis-hover: #af9ee2;
  --bs-primary-border-subtle: #392576;
  --bs-primary-rgb: 151, 129, 217;
  --bs-text-on-primary: #000;

  #github-image {
    display: none;
  }

  #github-image-dark {
    display: inline-block;
  }
}

html {
  min-height: 100vh;
}

body {
  --offcanvas-expand-width: 300px;
}

.bg-purple-light {
  background-color: rgba(95, 61, 196, 0.2) !important;
}

.rounded-4rem {
  border-radius: 4rem;
}

#site-home-top-nav .navbar-brand, .footer-brand {
  font-size: 1rem !important;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

#site-home-top-nav {
  .btn-outline-light {
    --mdc-ripple-color: rgb(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-white-rgb), .1);
    --bs-btn-active-bg: rgba(var(--bs-white-rgb), .2);
  }

  .dropdown-menu {
    --bs-dropdown-color: rgb(var(--bs-white-rgb));
    --bs-dropdown-link-color: rgb(var(--bs-white-rgb));
  }

  .dropdown-item {
    --bs-dropdown-link-hover-bg: rgba(var(--bs-white-rgb), .1);
    --bs-dropdown-link-hover-color: rgb(var(--bs-white-rgb));
    --bs-dropdown-link-active-bg: rgba(var(--bs-white-rgb), .2);
    --bs-dropdown-link-active-color: rgb(var(--bs-white-rgb));
  }

  .dropdown .bi {
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
  }

  a:focus-visible,
  .btn:focus-visible {
    outline: none; // stylelint-disable-line declaration-property-value-disallowed-list
    box-shadow: 0 0 0 .15rem var(--m-grape-2);
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

@media (max-width: 535px) {
  #site-home-top-nav .navbar-nav {
    width: 100%;
  }
}
