<nav id="site-home-top-nav" class="navbar navbar-expand-sm fixed-top auto-hide shadow-4dp {% if page.showSidebar != false %} bg-purple {% else %} bg-dark {% endif %} navbar-dark">
    <div class="container-fluid">
    <div class="d-flex flex-grow-1 align-items-center" style="flex-grow:1;">
        <div class="d-flex align-items-center">
            {% if page.showSidebar != false %}
            <button class="drawer-toggler me-2">
                <span class="drawer-toggler-icon"></span>
            </button>
            {% endif %}

            {% if page.version == 3.0 %}
                {% assign home = "/" %}
            {% else %}
                {% capture home %} /docs/{{ page.version }} {% endcapture %}
            {% endif %}

            <a class="navbar-brand py-0 d-flex align-items-center" href="{{ home }}">
                <img src="/assets/images/MSIconNewColorV2.svg" alt="Logo" style="width:40px; height:40px;">
                <span class="text-white ml-1">Material Style</span>
            </a>
        </div>

        <div class="dropdown ms-auto">
            <button class="btn btn-text-white dropdown-toggle px-1" data-bs-toggle="dropdown" aria-expanded="false" data-display="static" style="text-transform:none;">
                v{{ page.version }}
            </button>
            <ul class="dropdown-menu bg-dark" style="min-width: auto; position: absolute;">
                <li><a class="dropdown-item px-3 text-blue bg-dark" href="/" style="cursor: pointer; pointer-events: none;"><b>3.0</b></a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item px-3 text-white bg-dark" href="/docs/2.0/">2.0</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item px-3 text-white bg-dark" href="/docs/1.2/">1.2</a></li>
                <li><a class="dropdown-item px-3 text-white bg-dark" href="/docs/1.1/">1.1</a></li>
                <li><a class="dropdown-item px-3 text-white bg-dark" href="/docs/1.0/">1.0</a></li>
            </ul>
        </div>
    </div>

    <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
            <a class="nav-link text-white" href="/docs/{{ page.version }}/getting-started/installation">Get Started</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/docs/{{ page.version }}/components/alert">Components</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="https://github.com/materialstyle/materialstyle">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" data-toggle="modal" data-target="#searchContainer" role="button">
                <i class="fas fa-search"></i>
            </a>
        </li>
    </ul>
    </div>
</nav>

<div class="modal fade" id="searchContainer">
    <div class="modal-dialog m-0">
        <div class="modal-content border-0" style="width:100vw;">
            <div class="modal-header" style="width:100vw;">
                <input id="searchBox" type="text" class="modal-title text-dark ml-4" placeholder="Search">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>
