<aside class="offcanvas offcanvas-start offcanvas-expand-md offcanvas-light" tabindex="-1" id="siteOffcanvas">
  <div class="offcanvas-header bg-purple">
    <a class="offcanvas-title text-white py-0" href="/">
      <img src="/assets/images/MSIconNewColorV2.svg" alt="Logo" style="width:40px; height:40px;">
      Material Style
    </a>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-purple bg-opacity-10">
    <ul class="nav flex-column">
      <li class="nav-item list-heading"><b>Getting Started</b></li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'installation' %} active {% endif %}"
           href="/docs/3.0/getting-started/installation">Installation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'starter-template' %} active {% endif %}"
           href="/docs/3.0/getting-started/starter-template">Starter Template</a>
      </li>

      <div class="dropdown-divider"></div>

      <li class="nav-item list-heading"><b>Utilities</b></li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'color' %} active {% endif %}"
           href="/docs/3.0/utilities/color">Color</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'elevation' %} active {% endif %}"
           href="/docs/3.0/utilities/elevation">Elevation</a>
      </li>

      <div class="dropdown-divider"></div>

      <li class="nav-item list-heading"><b>Components</b></li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'alert' %} active {% endif %}"
           href="/docs/3.0/components/alert">Alert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'button' %} active {% endif %}"
           href="/docs/3.0/components/button">Button</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'card' %} active {% endif %}"
           href="/docs/3.0/components/card">Card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'checkbox-radio-switch' %} active {% endif %}"
           href="/docs/3.0/components/checkbox-radio-switch">Checkbox, Radio & Switch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'drawer' %} active {% endif %}"
           href="/docs/3.0/components/drawer">Drawer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'floating-action-button' %} active {% endif %}"
           href="/docs/3.0/components/floating-action-button">Floating Action Button</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'image-list' %} active {% endif %}"
           href="/docs/3.0/components/image-list">Image List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'list' %} active {% endif %}"
           href="/docs/3.0/components/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'modal' %} active {% endif %}"
           href="/docs/3.0/components/modal">Modal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'navbar' %} active {% endif %}"
           href="/docs/3.0/components/navbar">Navbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'popover' %} active {% endif %}"
           href="/docs/3.0/components/popover">Popover</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'progress-bar' %} active {% endif %}"
           href="/docs/3.0/components/progress-bar">Progress Bar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'range-slider' %} active {% endif %}"
           href="/docs/3.0/components/range-slider">Range Slider</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'select-field' %} active {% endif %}"
           href="/docs/3.0/components/select-field">Select Field</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'shape' %} active {% endif %}"
           href="/docs/3.0/components/shape">Shape</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'snackbar' %} active {% endif %}"
           href="/docs/3.0/components/snackbar">Snackbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'spinner' %} active {% endif %}"
           href="/docs/3.0/components/spinner">Spinner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'tab' %} active {% endif %}"
           href="/docs/3.0/components/tab">Tab</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'text-field' %} active {% endif %}"
           href="/docs/3.0/components/text-field">Text Field</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-pill text-dark single-page-link {% if page.page == 'toast' %} active {% endif %}"
           href="/docs/3.0/components/toast">Toast</a>
      </li>
      <br>
    </ul>
  </div>
</aside>
